@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-family: 'DMSANS-BOLD';
    scrollbar-width: none;

}


.topbar {
    
    padding: 12px;
    background-color: #042c74;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
overflow: hidden; 

}

.topbar a {
    color: white;
    text-decoration: none;
    scrollbar-width: none;

}

.topbar .email {
    padding-right: 313px;
    scrollbar-width: none;

}

.topbar .phone .bi {
    color: white;
    margin: 11px;
}

.topbar button {
    background: none;
    color: white;
    border: none;
    padding-left: 45px;
    margin-left: 13px;
    font-size: 20px
}

 .navbar {
    align-items: center;
    justify-content: center;
    height: 86px;
    margin-top: 0px;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
height: auto;
    top: 10px;
    width: 100%;;
}

.navbar .nav .active a {
    color: #042c74;
} 

 .navbar .logo {
    width: 196px;
    height: 86px;
    border-right: 1.0999999999999996px solid rgb(182, 175, 175);
    margin-left: 65px
} 

.navbar .logo img {
    height: 55px;
    margin-left: -53px;
    margin-top: 15px;
}

.navbar .nav {
    margin-left: 13px;
    display: flex;
}

.navbar .nav li {
    float: left;
    list-style: none;
    margin: 13px;
    font-size: 16px;
    width: auto; 
     position: relative; 
     font-weight: 400;
    font-family: 'Roboto-Regular'

}
.navbar .nav ul{
    flex-direction: column;

}

.navbar .nav a {
    color: black;
    text-decoration: none;
    transition: all 1s linear;
}

li:hover ul#hover {
    opacity: 1;
    top: 20px;
    visibility: visible;
    position: absolute;
    width: 314px;
    border: none;
    padding-top: 30px;
    height: auto;
    background-color: white;
}

#hover {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

#hover li {
    float: none;
    width: 100%;
    display: block;
}

.navbar .nav li .bi {
    color: gray;
    font-size: 8px;
    margin: 2px;
} 




.slider-wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slider-container {
    display: flex;
    transition: all 1s ease;
}

.slider-image {
    width: 100%;
    height: 530px;
    background-size: cover;
    background-position: center;
    position: relative;
    flex-shrink: 0;
    background-repeat: no-repeat;
}

.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-overlay h1 {
    margin-left: -549px;
    font-size: 39px;
    margin-top: 41px;
}

.slider-overlay p {
    margin: 10px 0;
    font-size: 16px;
    margin-right: 523px;
}
.slider-overlay .p1 {
    margin: 10px 0;
    font-size: 16px;
    margin-right: 1095px;
}
.slider-overlay .p2 {
    margin: 10px 0;
    font-size: 16px;
    margin-right: 844px;
}


.slider-overlay button {
    padding: 17px 22px;
    background-color: #042C71;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
      margin-left:-873px;
    margin-top: 28px;
}
.slider-overlay .button1 {
    padding: 17px 22px;
    background-color: #042C71;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    margin-left:-1022px;
    margin-top: 28px;
}
.slider-overlay .button2 {
    padding: 17px 22px;
    background-color: #042C71;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    margin-left:-975px;
    margin-top: 30px;
}

.dots-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 11px;
    height: 11px;
    margin: 0 3px;
    background-color: #aaa;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #e0dcd9;
}
.container{
    overflow: hidden;
}
.explorr {
    margin-top: 52px;
    width: 1248px;
    margin-left: 10px;
    scrollbar-width: none;
    display: flex;
}
.explorr .para2 h4 {
    font-size: 40px;
    padding-left: 75px;
    font-family: 'DMSANS-BOLD';
}
.explorr img {
    height: 444px;
    margin-left: 47px;
    margin-top: 13px

}
.para3 {
    display: flex;
    width: 86%;
    margin-top: 12px;
    margin-left: 78px;
    font-size: 15px;

    flex-direction: column;
}

.para3 p {
    margin: 9PX;
    font-weight: 400;
    line-height: 24px;
}

.explorr button {
    margin-left: 86px;
    padding: 13px 4px;
    letter-spacing: 9px;
    background: none;
}


.explorr button:hover {
    background-color: blue;
    color: white
}

.services .heading h1 {
    padding-top: 70px;
    text-align: center;
}

.heading p {
    text-align: center;

}

.heading p2 {
    padding-left: 43%;

}

.Gallery {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    scrollbar-width: none;

    margin-top: 1px;
}

.services {
    background-color: #f4f4f4;
    height: 699px;
    margin-top: 67px;
    scrollbar-width: none;

}

.services .img-section {
    width: 363px;
    height: 195px;
    margin: 16px;
    padding: 17px;
    background-color: white;
    scrollbar-width: none;
}

.services .img-section img {
    padding-top: 6px;
    padding-left: 11px
}

.services .img-section h3 {
    padding-left: 13px;
    padding-top: 5px;
}

.services .img-section p {
    padding-left: 13px;
    font-size: 17px;
    padding-top: 4px;
    line-height: 22px;
    color: #423636
}


.Gallery #box1 {
    border: 2px solid #f4cc6c;
}

.Gallery #box2 {
    border: 2px solid #c2cce0;
}

.Gallery #box3 {
    border: 2px solid #f2b4b9;
}

.Gallery #box4 {
    border: 2px solid #9ed4b8;
    ;
}

.Gallery #box5 {
    border: 2px solid #ade0f0;
}

.Gallery #box6 {
    border: 2px solid #ddc2f0;
}


.gif img {
    height: 245px;
}

.choose-heading {

    background: #042C71;
    position: relative;
    padding: 17px 0px;
    scrollbar-width: none;

}

.choose-heading h1 {
    font-size: 36px;
    line-height: 42px;
    color: white;
    font-family: 'DMSANS-BOLD';
    text-align: center;

}

.choose-heading::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 30px solid #042C71;
    position: absolute;
    bottom: -29px;
    right: 0;
    left: 0;
    margin: 0px auto;
    z-index: -1;
}

.main-head {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 22px;
    scrollbar-width: none;

}

.main-head .row {
    width: 372px;
    font-size: 20px;
    scrollbar-width: none;

    margin: 13px;
}

.main-head .row img {
    height: 234px;
    width: 100%
}

.text {
    border-top: 0;
    width: 327px;
    margin-left: -21px;
    margin-top: -17px;
}

.text p {

    font-size: 16px;
    padding-top: 10px;
    line-height: 28px;
}

.content {
    border: 1px solid black;
    border-top: 0;
    padding: 43px
}

.chose-heading h1 {
    font-size: 40px;
    line-height: 42px;
    font-family: 'DMSANS-BOLD';
    text-align: center;
    padding-top: 50px;
}

.para .ok {
    padding-right: 462px;
}

.para .h {
    padding-right: 219px
}

.para p {
    padding-right: 496px
}


.swiper-pagination {
    margin-bottom: 80px;
    color: white;
}

.youtube {
    width: 1124px;
    display: inline-flex;
    overflow: auto;
    border: 2px solid black;
    height: 417px;
    margin-left: 118px;
    padding-top: 46px;
    padding-left: 18px;
    background: #042C71;
    margin-top: 40px;
    scrollbar-width: none;


}

.post-img iframe {
    margin: 8px;
    width: 349px
}

.main-text {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    width: 247px;
    flex-wrap: wrap;
}

.event {
    width: 529px;
    border: 1px solid rgb(221, 213, 213);
    height: 260px;
    padding: 25px;
    font-size: 23px;
    line-height: 29px;
    margin-left: 103px;
    margin-top: 44px;

}

.event h3 {
    font-family: 'Roboto', sans-serif;
    color: #042C71;
}

.main-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0px;
}

.event p {
    font-size: 15px;
    font-weight: 549;
    line-height: 20px;
    padding-top: 11px;
    color: rgb(44, 43, 43);
}

.event h4 {
    padding-top: 5px
}

.main-text::before {
    content: "";
    height: 147%;
    width: 0px;
    border: 1px solid #ddd2d2;
    position: absolute;
    left: 51%;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 42px;
    display:block;
}

.event .o {
    content: "";
    height: 10px;
    width: 10px;
    border: 2px solid black;
    border-radius: 50%;
    left: 685px;
    position: absolute;
    margin-top: 98px;
    background: #042C71;
    box-shadow: 0 0 0 4px #edf5d8;
    display: block;
}

.last-banner {
    margin-top: 75px;
}

.footer {
    background-image: url('img/footer-bg.png');
    height: 617px;
    width: 100%;
    background-size: 157%;
    background-position-x: -384px;
    scrollbar-width: none;

}

.footer img {
    height: 93px;
    margin-left: 462px;
    margin-top: 39px
}

.footer-text {
    width: 91%;
    height: auto;
    margin: auto;
    color: white;
    margin-top: -5px;
}

.footer h5 {
    font-size: 21px;
    text-align: center;
    line-height: 26px;
    padding-top: 10px;
}

.footer p {
    text-align: center;
    font-size: 15.7px;
    line-height: 24px;
    padding-top: 7px
}

.call-section {
    text-align: center;
    color: white;
    line-height: 33px;
    margin-top: 19px
}

.call-section a {
    color: white;
    font-size: 22px;
    line-height: 37px
}

.call-section h3 {
    font-size: 20px
}

.main-footer {
    background-color: #13306ba1;
    position: absolute;
    margin-top: -191px;
    width: 100%;
    height: 192px;
    padding-top: 92px;
    text-align: center;
    color: white
}

.main-footer .bi {
    font-size: 24px;
    margin: 10px;
}

.main-footer .m-1 {
    font-size: 15px;
    padding-top: 16px
}

.main-footer .m-0 a {
    text-decoration: none;
    color: #007bff;
    margin-top: 11px
}


/* <----------About us-------------- > */

.about-us img {
    height: 297px;
    margin-top: -47px
}

.about-us h2 {
    position: absolute;
    font-size: 37px;
    font-weight: 700;
    margin-top: -113px;
    color: white;
    ;
    padding-left: 91px
}

.main-about {
    width: 100%;
    height: auto;
    margin-top: 100px
}

.about-text img {
    height: 414px;
    margin-left: 80px;

}

.about-logo img {
    height: 66px;
    margin-left: 37px
}

.main-about p {
    width: 100%;
    margin-left: -51px
}

.main-about p {
    padding: 93px;
    margin-top: -79px;
    line-height: 26px;

}

.about-img-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 20px;
}

.about-img-section img {
    margin: 10px;
}


.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp .bi {
    margin-top: 13px;
}





/* -------------POrtfolio section------------------- */


.portfolio-logo {
    margin: 71px;
    line-height: 33px;
}

.portfolio-logo img {
    height: 60px;
}

.portfolio-section {
    display: flex;
    flex-wrap: wrap;

}

.portfolio-items {
    border: 1px solid #f36b1c;
    width: 514px;
    margin: 11px;
}

.portfolio-items img {
    height: 208px;
    margin: 12px 16px 0px
}

.portfolio-items button {
    margin: 12px;
    text-align: center;
    font-size: 20px;
    background: #042c71;
    padding: 7px 114px;
    color: white;
    margin-left: 24px
}

/* ---------------Contact Us section------------------ */

.contact h3 {
    margin-top: 119px;
    font-size: 16px;
}

.contact a {
    line-height: 1px;
    font-size: 19px;
}

a:hover {
    color: #007bff;
}

.map {
    margin-left: 27%;
    margin-top: 24px
}

.login-page {
    width: 680px;
    height: auto;
    flex-wrap: wrap;
    margin-left: 354px
}

.login-page input {
    margin: 6px 29px;
    padding: 0px 12px;
    margin-left: 9px;
    border: 1px solid #eee;
    color: black;
    outline: none;
    width: 297px;
    height: 53px;
    font-size: 17px
}

.login-page input:hover {

    border-color: #007bff;
}

.login-page .message input {
    height: 85px;
    width: 634px;
    padding: 0px 14px 38px;
    font-size: 18px
}

#hover hr {
    color: white;
}



.nav-toggle img { 
    display: none; 
    font-size: 33px; 
    color: black; 
    margin-left:200px;
    height: 24px; ;
    position: relative;
}



